.title{
    color:#000000;
    animation-name: colorChange;
    animation-duration:2s;
    animation-iteration-count: infinite;

}
@keyframes colorChange {
  0% {
      
      color: red;
    }
    
    10% {
      
      color: orange;
    }
    
    20% {
      
      color: gold;
    }
    
    30% {
      
      color: yellow;
    }
    
    40% {
      
      color: green;
    }
    
    50% {
      
      color: aqua;
    }
    
    60% {
      
      color: blue;
    }
    
    70% {
      
      color: blueviolet;
    }
    80% {
   
      color: purple;
    }
    
    90% {
   
      color: magenta;
    }
    
    100% {
      
      color: pink;
    }
}
